In [1]:
#import the libraries
import pandas as pd
import numpy as np

In [2]:
data_set=pd.read_csv('Nomics-CurrencyHistory-BTC-USD-1d-2022-03-16T15_57_55.177Z.csv')
data_set

,timestamp,open,high,low,close,volume,transparent_open,transparent_high,transparent_low,transparent_close,transparent_volume,volume_transparency.?,volume_transparency.A,volume_transparency.B,volume_transparency.C,volume_transparency.D
0,2022-03-16T00:00:00Z,39367.141313,41699.223363,38955.292077,40588.084914,3.222256e+10,39339.782870,41640.227032,38951.964077,40616.599945,1.368216e+10,115366184,13682162974,1679849120,11048947998,5696237140
1,2022-03-15T00:00:00Z,39729.097370,39871.542612,38247.657105,39303.876978,3.247851e+10,39709.825137,39793.398379,38240.745454,39251.047105,1.232260e+10,84912123,12322600351,2580937865,11832058939,5658005139
2,2022-03-14T00:00:00Z,37829.663394,39824.584519,37677.327861,39643.389408,3.250074e+10,37784.136600,39778.379746,37658.392267,39619.895058,1.276065e+10,84025800,12760654265,1920067032,11868245145,5867746580
3,2022-03-13T00:00:00Z,38891.200399,39286.900425,37703.963018,37875.563613,2.213481e+10,38883.861707,39262.326165,37711.590552,37857.544906,7.891781e+09,67778268,7891780771,1386882580,8176530528,4611840078
4,2022-03-12T00:00:00Z,38809.263638,39486.757114,38752.245917,38882.546425,1.930252e+10,38788.167619,39459.695817,38748.715708,38865.907812,6.501799e+09,75836707,6501799005,1117562274,7294108920,4313211885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2021-12-11T00:00:00Z,47374.518188,49583.808670,47219.461099,49552.428367,3.452038e+10,47413.913825,49597.882569,47300.918017,49579.122659,1.322026e+10,53369843,13220258329,3086065527,12445655394,5715026955
96,2021-12-10T00:00:00Z,47716.457761,49966.152101,47136.883467,47381.050932,4.333355e+10,47740.681128,49934.643401,47204.455443,47430.448984,1.705754e+10,65761171,17057544315,3273536981,16142880225,6793830644
97,2021-12-09T00:00:00Z,50606.504204,50682.931763,47594.709667,47789.928693,3.912409e+10,50627.306980,50656.095579,47623.703681,47809.670794,1.614744e+10,71362144,16147442323,2947173041,13555392446,6402716002
98,2021-12-08T00:00:00Z,50767.149136,51197.083380,49170.202365,50584.166443,3.748333e+10,50796.440897,51200.644523,49294.831553,50620.174144,1.462042e+10,75543472,14620422601,2860339645,13453194351,6473833814
99,2021-12-07T00:00:00Z,50609.069008,51779.040359,50257.740826,50691.843547,4.116941e+10,50634.017631,51763.638684,50300.451120,50705.432723,1.803280e+10,75995135,18032804792,3124704884,13305630072,6630275685

In [3]:
data_set.close

0     40588.084914
1     39303.876978
2     39643.389408
3     37875.563613
4     38882.546425
          ...
95    49552.428367
96    47381.050932
97    47789.928693
98    50584.166443
99    50691.843547
Name: close, Length: 100, dtype: float64

In [4]:


data_set_new =pd.DataFrame(data_set[['close']])

In [5]:
data_set_new

           close
0   40588.084914
1   39303.876978
2   39643.389408
3   37875.563613
4   38882.546425
..           ...
95  49552.428367
96  47381.050932
97  47789.928693
98  50584.166443
99  50691.843547

[100 rows x 1 columns]

In [6]:
prediction_days=30
data_set_new['Prediction']=data_set_new[['close']].shift(-prediction_days)

In [7]:
data_set_new.head()

          close    Prediction
0  40588.084914  42625.076005
1  39303.876978  42134.384910
2  39643.389408  42305.504122
3  37875.563613  42487.663999
4  38882.546425  43582.576733

In [8]:
data_set_new.tail()

           close  Prediction
95  49552.428367         NaN
96  47381.050932         NaN
97  47789.928693         NaN
98  50584.166443         NaN
99  50691.843547         NaN

In [9]:
X=np.array(data_set_new.drop(['Prediction'],1))

In [10]:
X=X[:len(data_set_new)-prediction_days]

In [11]:
print(X)

[[40588.08491399]
 [39303.87697798]
 [39643.38940789]
 [37875.56361318]
 [38882.54642514]
 [38785.54211608]
 [39424.18607614]
 [41798.7498782 ]
 [38686.02720786]
 [38404.56389649]
 [38413.11441172]
 [39052.78797608]
 [39306.24310747]
 [42620.64174384]
 [43891.04996772]
 [44421.4254825 ]
 [43516.14437011]
 [38111.24196132]
 [39212.42565312]
 [39213.84942388]
 [38615.51550113]
 [37330.68999271]
 [38279.52301234]
 [37117.529808  ]
 [38443.60820796]
 [40126.18791113]
 [40086.85449347]
 [40595.78266026]
 [43865.13989305]
 [44516.52824416]
 [42625.07600485]
 [42134.38491048]
 [42305.50412242]
 [42487.66399943]
 [43582.57673333]
 [44432.30543137]
 [44134.10414838]
 [43881.4695592 ]
 [42399.02094194]
 [41431.47524494]
 [41614.1434272 ]
 [37303.96631062]
 [36966.29948911]
 [38726.2704141 ]
 [38434.8880732 ]
 [37964.69756558]
 [38233.34365261]
 [37758.9015919 ]
 [37285.14487959]
 [36948.09811857]
 [37045.8158536 ]
 [36783.74587438]
 [36359.58711981]
 [35163.01460273]
 [36556.82687231]
 [40755.21223805]
 [41699.01776703]
 [42501.9949068 ]
 [42277.715317  ]
 [43138.13392149]
 [43153.99769973]
 [43164.31309967]
 [42712.12273336]
 [43841.71314492]
 [42753.96925046]
 [41936.68882381]
 [41965.53405137]
 [41813.45635408]
 [41627.32944417]
 [43193.42566115]]

In [12]:
print(X.shape)

(70, 1)

In [13]:
y=np.array(data_set_new['Prediction'])
y=y[:-prediction_days]

In [14]:
print(y)

[42625.07600485 42134.38491048 42305.50412242 42487.66399943
 43582.57673333 44432.30543137 44134.10414838 43881.4695592
 42399.02094194 41431.47524494 41614.1434272  37303.96631062
 36966.29948911 38726.2704141  38434.8880732  37964.69756558
 38233.34365261 37758.9015919  37285.14487959 36948.09811857
 37045.8158536  36783.74587438 36359.58711981 35163.01460273
 36556.82687231 40755.21223805 41699.01776703 42501.9949068
 42277.715317   43138.13392149 43153.99769973 43164.31309967
 42712.12273336 43841.71314492 42753.96925046 41936.68882381
 41965.53405137 41813.45635408 41627.32944417 43193.42566115
 43615.28973459 45986.53908051 46540.38511203 47397.5206799
 47797.64793837 46279.79382533 47280.77803455 46742.34907418
 47763.77903754 51022.4438759  51056.42181958 50790.57035897
 51064.55389959 50784.25199734 48744.80040892 48945.2674096
 46386.65098994 46886.80405846 46958.69324713 46469.64439398
 47820.14724033 48981.01631099 48537.10268362 46875.92664565
 50175.62776113 49552.42836726 47381.05093172 47789.92869315
 50584.1664432  50691.84354678]

In [15]:
print(y.shape)

(70,)

In [16]:
#split the data in 80% training and 20% testing
from sklearn.model_selection import train_test_split
X_train,x_test,y_train,y_test=train_test_split(X,y, test_size=0.2)

In [17]:
prediction_days_array=np.array(data_set_new.drop(['Prediction'],1))[-prediction_days:]

In [18]:
print(prediction_days_array)

[[43615.28973459]
 [45986.53908051]
 [46540.38511203]
 [47397.5206799 ]
 [47797.64793837]
 [46279.79382533]
 [47280.77803455]
 [46742.34907418]
 [47763.77903754]
 [51022.4438759 ]
 [51056.42181958]
 [50790.57035897]
 [51064.55389959]
 [50784.25199734]
 [48744.80040892]
 [48945.2674096 ]
 [46386.65098994]
 [46886.80405846]
 [46958.69324713]
 [46469.64439398]
 [47820.14724033]
 [48981.01631099]
 [48537.10268362]
 [46875.92664565]
 [50175.62776113]
 [49552.42836726]
 [47381.05093172]
 [47789.92869315]
 [50584.1664432 ]
 [50691.84354678]]

In [20]:
from sklearn.svm import SVR
svr_rbf=SVR(kernel='rbf',C=1e3,gamma=0.00001)
svr_rbf.fit(X_train,y_train)

SVR(C=1000.0, gamma=1e-05)

In [1]:
#apurva is a blah and whaterver